* {
padding: 0px;
margin: 0px;
border: none;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

:focus,
:active {
/*outline: none;*/
}

a:focus,
a:active {
/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
color: inherit;
text-decoration: none;
/* display: inline-block; */
}

a:hover  {
/* color: inherit; */
text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
display: block;
}

h1, h2, h3, h4, h5, h6, p {
font-size: inherit;
font-weight: inherit;
}

ul, ul li {
list-style: none;
}

img {
vertical-align: top;
}

img, svg {
max-width: 100%;
height: auto;
}

address {
font-style: normal;
}

/* Form */

input, textarea, button, select {
font-family: inherit;
font-size: inherit;
color: inherit;
background-color: transparent;
}

input::-ms-clear {
display: none;
}

button, input[type="submit"] {
display: inline-block;
box-shadow: none;
background-color: transparent;
background: none;
cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
outline: none;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

label {
cursor: pointer;
}

legend {
display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.Logo{
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: rgb(218, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 500;
    font-size: 22px;
}

.Logo:hover{
    font-size: 28px;
    transition: all 1s ease-in-out; 
}



.navbar li{
    margin-right: 20px;
}

.navbar{
    font-size: 22px;
    font-weight: 500;
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

.navbar a{
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    border: none;
    position: relative;
    cursor: pointer;
    color: black;
}

.navbar a:after{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    left: 50%;
    position: absolute;
    background-color: black;
    transition: width 0.4s ease-in-out;
    transform: translateX(-50%);
}

.navbar a:hover:after,
.navbar a:focus:after{
    width: 0%;
}

.modal_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    min-height: 100vh;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

    z-index: 2;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    z-index: 5;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  .hidden {
    display: none;
  }

  .flex{
    border-bottom: 1px solid lightslategrey;
    width: 100%;
  }
  .flex h3{
    font-size: 28px;
    margin-bottom: 15px;
  }

  .up{
    position: relative;
    width: 100%;
    display: flex;
  }

  .click_close{
    position: absolute;
    right: 0;
    top: 10px;
  }
  
.first_block{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first_block > h1{
    margin-top: 40px;
    font-weight: 800;
    font-size: 36px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-weight: bold;
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    width: 98%;
    height: 1080px;
}

.katalog{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iteams_katalog{
    transition: all 0.3s ease-in-out;
    max-width: 400px;
    max-height: 720px;
    margin-right: 40px;
    border-radius: 15px;
}

.iteams_katalog:last-child{
    margin-right: 0;
}

.iteams_katalog span, h1{
    padding-left: 5px;
    text-transform:capitalize;    
    font-weight: 600;
}

.iteams_katalog h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.iteams_katalog img:nth-child(1){
    height: 240px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}
.iteams_katalog img{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.iteams_katalog:hover .img_iteam{
    transition: all 0.65s ease-in;
    opacity: 0.4;
}

.block_btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .block_btn:first-child{
    margin-right: 15px;
} */

.backgroung_btn{
    border: 1px solid black;
    border-radius: 15px;
    width: 10.5em;
    height: 3em;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.backgroung_btn:first-child{
    margin-right: 15px;
}

.backgroung_btn:hover{
    background-color: black;
    color: aliceblue;
    transition: all 0.4s ease-in-out;
}

.select_sort{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    margin-left: 50%;
}
@media screen and (min-width:1281px){
    .iteams_katalog:nth-child(n+5){
        margin-top: 20px;
    }
}
@media screen and (max-width:640px){
    .Logo{
        margin-left: 25%;
        margin-bottom: 25px;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
    }

    header a{
        margin-left: 15px;
    }

    header > a,svg{
        width: 100px;
    }

    header > a{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }

    .content{
        font-size: 48px;
        padding-left: 25%;
    }

    .katalog{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .iteams_katalog{
        padding: 12px;
        width: 100%;
   }
   
   .iteams_katalog img{
        height: 100px;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
}
}

@media screen and (max-width:1280px){
    header{
        height: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    header > a{
        margin-left: 2%;
    }
    .katalog{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    .iteams_katalog:nth-child(-n+3){
        margin-bottom: 24px;
    }
    .iteams_katalog:nth-child(3){
        margin-right: 0;
    }
    .iteams_katalog{
        margin-right: 0;
    }

    .iteams_katalog img{
        width: 100%;
        height: auto;
    }

    .iteams_katalog{
        flex: 0 0 44.3333%;
        margin-right: 20px;
    }

    .select_sort{
        margin-left: 8%;
    }
}


