* {
    padding: 0px;
    margin: 0px;
    border: none;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }
    
    :focus,
    :active {
    /*outline: none;*/
    }
    
    a:focus,
    a:active {
    /* outline: none;*/
    }
    
    /* Links */
    
    a, a:link, a:visited  {
    /* color: inherit; */
    /* text-decoration: none; */
    /* display: inline-block; */
    }
    
    a:hover  {
    /* color: inherit; */
    text-decoration: none;
    }
    
    /* Common */
    
    aside, nav, footer, header, section, main {
    display: block;
    }
    
    h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    }
    
    ul, ul li {
    list-style: none;
    }
    
    img {
    vertical-align: top;
    }
    
    img, svg {
    width: 100%;
    height: auto;
    }
    
    address {
    font-style: normal;
    }
    
    input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    }
    
    input::-ms-clear {
    display: none;
    }
    
    button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    }
    
    input:focus, input:active,
    button:focus, button:active {
    outline: none;
    }
    
    button::-moz-focus-inner {
    padding: 0;
    border: 0;
    }
    
    label {
    cursor: pointer;
    }
    
    legend {
    display: block;
    }

    *{
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'Golos UI';
        font-display: swap;
        src: url("../founts/Golos-UI/golos-ui_regular.eot");
        src: local("O"), url("../founts/Golos-UI/golos-ui_regular.woff") format("woff"), 
                url("../founts/Golos-UI/golos-ui_regular.ttf") format("truetype"), 
                url("../founts/Golos-UI/golos-ui_regular.svg") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Golos UI';
        font-display: swap;
        src: url("../founts/Golos-UI/golos-ui_bold.eot");
        src: local("O"), url("../founts/Golos-UI/golos-ui_bold.woff") format("woff"), 
                url("../founts/Golos-UI/golos-ui_bold.ttf") format("truetype"), 
                url("../founts/Golos-UI/golos-ui_bold.svg") format("svg");
        font-weight: 700;
        font-style: 700;
    }

    @font-face {
        font-family: 'Golos UI';
        font-display: swap;
        src: url("../founts/Golos-UI/golos-ui_medium.eot");
        src: local("O"), url("../founts/Golos-UI/golos-ui_medium.woff") format("woff"), 
                url("../founts/Golos-UI/golos-ui_medium.ttf") format("truetype"), 
                url("../founts/Golos-UI/golos-ui_medium.svg") format("svg");
        font-weight: 500;
        font-style: 500;
    }

    @font-face {
        font-family: 'Golos UI';
        font-display: swap;
        src: url("../founts/Golos-UI/golos-ui_vf.eot");
        src: local("O"), url("../founts/Golos-UI/golos-ui_vf.woff") format("woff"), 
                url("../founts/Golos-UI/golos-ui_vf.ttf") format("truetype"), 
                url("../founts/Golos-UI/golos-ui_vf.svg") format("svg");
        font-weight: 777;
        font-style: 777;
    }

    body{
        background-color: #F3F3F3;
        font-family: 'Golos UI';
        color: #000000;
    }

    .header{
        width: 100%;
        height: 80px;
        background: #624C91;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px;
    }

    .navbar{
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 279px;
    }

    .navbar a:last-child{
        color: #ffffff;
        text-decoration: none; 
        border-bottom: 1px solid #ffffff;
    }

    .navbar-login{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .navbar-login span{
        margin: 0 0 0 28px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    
    .navbar-login span:hover{
        border: none;
    }
    
    .main{
        width: 100%;
        height: 100%;
    }

    .main-post{
        display: flex;
        padding: 60px;
    }

    .post-first{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 40px;
    }

    .iteam{
        max-width: 700px;
        width: 650px;
        background-color: #ffffff;
        box-shadow: 0px 4px 12px rgba(98, 76, 144, 0.1);
        border-radius: 5px;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #2A1852;
        flex: none;
        order: 1;
        flex-grow: 1;
    }
    .second-button{
        width: 100%;
        height: 60px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #624C90;

        border: 3px solid #624C90;
        border-radius: 7px;
    }

    .text-item{
        max-width: 353px;
        min-height: 188px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        
    }

    .first-text h3{
        margin-bottom: 4px;
    }

    .text-h3{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }

    .text-p{
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }

    .item-category{
        display: flex;
        gap: 4px;
    }

    .item-category span{
        padding: 4px 12px;
        gap: 10px;
        border: 1px solid #BCB3CE;
        border-radius: 4px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .main-post-second{
        margin-top: 40px;
        display: flex;
    }

    .second-post{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;
    }

    .second-category{
        width: 253px;
        padding: 83px 20px;
    }

    .second-h3{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .second-ul{
        min-height: 194px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .second-ul a{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #366AF3;
    }


    .footer{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }

    .footer-url{
        width: 203px;
        display: inline-flex;
        justify-content: space-between;
    }
    
    .footer-url a{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        color: #366AF3;
    }

    .footer-info{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */

        text-align: right;
        color: #999999;
    }


    /*Бургер меню*/
    .menu{display: none;}

    @media screen and (min-width: 1910px) {
        .iteam{
            max-width: 778px;
            width: 770px;
        }
    }

    @media screen and (max-width: 1600px) {
        .iteam{
            max-width: 633px;
            width: 600px;
        }
    }

    @media screen and (max-width: 1200px) {
        .iteam{
            max-width: 394px;
            width: 350px;
        }
    }